$spacing: 20px;
$bdrs: 6px;

.timeline {
  &__event {
    margin-bottom: $spacing;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: $bdrs;
    align-self: center;
    width: 100%;

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;
      .timeline__event__date {
        border-radius: 0 $bdrs $bdrs 0;
      }

      .timeline__event__content {
        border-radius: $bdrs 0 0 $bdrs;
      }

			.timeline__event__icon {
				margin-left: 40px;
				margin-right: 0;
			}
    }

    &__title {
      font-size: 24px;
      text-transform: uppercase;
			font-family: Antonio, sans-serif;
      color: #070c1e;
			margin-bottom: 20px;
    }

    &__content {
      padding: $spacing;
			border: 1px solid #8E6A54;
			border-radius: 0 $bdrs $bdrs 0;
    }

    &__date {
      color: #DEC4A5;
      font-size: 24px;
      background: #8E6A54;
			font-family: Antonio, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      padding: 0 $spacing;
      border-radius: $bdrs 0 0 $bdrs;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      margin-right: 40px;
			margin-left: 0;
      background: #A4846F;
      border-radius: 100%;
      width: 130px;
      height: 130px;
      position: relative;
			padding: 0 16px;

			svg {
				width: 100px;
				height: 100px;
				fill: #DEC4A5;
			}
    }

    &__description {
      flex-basis: 60%;
    }

    &:last-child {
      .timeline__event__icon {
        &:before {
          content: none;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;
		width: 100%;

    &__content {
      width: 100%;
    }

    &__icon {
      border-radius: $bdrs $bdrs 0 0;
      width: 100%;
      margin: 0;
      box-shadow: none;

      &:before,
      &:after {
        display: none;
      }
    }
    &__date {
      border-radius: 0;
      padding: $spacing;
    }

    &:nth-child(2n + 1) {
      flex-direction: column;
      align-self: center;

      .timeline__event__date {
        border-radius: 0;
        padding: $spacing;
      }

      .timeline__event__icon {
        border-radius: $bdrs $bdrs 0 0;
        margin: 0;
      }
    }
  }
}
