.serviceBox {
	border-radius: 10px;
	padding: 20px;
	border: solid 2px #564847;
	color: #dec4a5;
	transition: all 0.3s ease;

	&:hover {
		background-color: #dec4a5;
		color: #070c1e;
		border-color: #dec4a5;
	}
}

.serviceImage {
	border-radius: 50%;
	width: 100%;
}

.serviceBoxHeading {
	font-family: Antonio, sans-serif;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 20px;
}

.serviceBoxNumber {
	text-align: right;
}

.connectWithUsButton {
	border-radius: 6px;
	background: #564847;
	color: #dec4a5;
	padding: 8px;
	display: flex;
	align-items: center;
  justify-content: center;
	text-decoration: none;

	img {
		width: 30px;
	}
}

@media screen and (max-width: 900px) {
	.serviceBox{
		padding: 30px 20px;
	}
	.imageBlk {
		width: 100%;
		text-align: center;
	}
	.serviceImage{
		max-width: 300px;
	}
	.imageBlk{
		text-align: center;
	}
	.serviceBoxNumber{
		text-align: left;
		margin-bottom: 15px;
	}
	.connectWithUsButton{
		width: 155px;
		padding: 8px 20px;
		margin-top: 30px;
		border: solid 2px #564847;
		background: #070c1e;
		font-size: 16px;
		font-weight: 600;
		display: flex;
		gap: 10px;
		justify-content: center;
		text-decoration: none;
	}
	.connectWithUsButton span {
		line-height: 1.3;
	}
	.connectWithUsButton img {
		width: 36px;
	}
}
