.masterHead {
	padding-top: 600px;
	background: url("../assets/images/about-materhead-bg.jpg") no-repeat bottom center;
	background-size: cover;
}

.commonContainer {
	padding: 0 50px;
}

.breadcrumb {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	color: #a4836f;
	font-family: Poppins, sans-serif;
	font-size: 16px;
	list-style: none;
	display: block;

	li {
		&::after {
			content: "/";
			margin: 0 8px;
		}
	}
}

.lpoTitle {
	font-size: 100px;
}

.plusIcon {
	font-family: Poppins, sans-serif;
	font-size: 200px;
	color: #a4836f;
	margin: 12px 0 12px;
	line-height: 0.55;
}

.aboutLPO {
	padding: 0 50px;
	margin-bottom: 300px;
}

.aboutHeading {
	font-family: Poppins, sans-serif;
	font-size: 20px;
	color: #fff8f2;
	margin-bottom: 20px;
}

.aboutText {
	color: #c9b9b0;
	margin: 28px 0;
}

.newEraSection {
	padding: 600px 50px 0;
	margin-bottom: 200px;
	background: url("../assets/images/new-era-section-bg.jpg") no-repeat top center;
	background-size: cover;
	position: relative;
}

.aboutStamp {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 0;
	width: 200px;
	height: 200px;

	img {
		width: 100%;
	}
}

.newEraText {
	color: #c9b9b0;
	margin-top: 20px;
}

.weAreStepIn {
	color: #fff8f2;
	margin: 20px 0 40px;
}

.bookButton {
	display: inline-flex;
	justify-content: space-between;

	img {
		margin-left: 16px;
		width: 30px;
	}
}

.metricsContainer {
	background: url("../assets/images/metrics-section-bg.jpg") no-repeat top center;
	background-size: cover;
}

.metricsContentContainer {
	padding-top: 700px;
}

.metricsItem {
	background: url("../assets/images/metrics-tile-bg.png") no-repeat top center;
	background-size: contain;
	padding: 0px 75px;
}

.metricsHeading {
	text-align: center;
	font-family: Antonio, sans-serif;
	font-size: 50px;
	color: #fff8f2;
}

.metricsTitle {
	text-align: center;
	font-family: Antonio, sans-serif;
	font-size: 22px;
	color: #a4836f;
	margin-bottom: 72px;
}

.metricsText {
	color: #c9b9b0;
	text-align: center;
	margin-top: 12px !important;
}

.precisionText {
	text-transform: uppercase;
	font-family: Antonio, sans-serif;
	color: #927464;
	font-size: 6.50vw;
	overflow: hidden;
  position: relative;
	display: flex;
	white-space: nowrap;

	div {
		animation-duration: 7s;
		animation-iteration-count: infinite;
		animation-name: marquee;
		animation-timing-function: linear;
	}
}

@keyframes marquee {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}

.aboutFounder {
	background: #DEC4A5 url("../assets/images/founder-section-bg.jpg") no-repeat top center;
	background-size: cover;
	padding-bottom: 100px;
	position: relative;
	padding-top: 17%;
}

.founderLaptopImage {
	width: 60%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 0;

	img {
		width: 100%;
	}
}

.founderTitle {
	font-family: Antonio, sans-serif;
	font-size: 20px;
	color: #423635;
	text-align: center;
}

.name {
	color: #070c1e;
	font-family: Antonio, sans-serif;
	font-size: 32px;
	text-align: center;
}

.designation {
	color: #423635;
	text-align: center;

	&::after {
		content: "";
		border-bottom: 3px solid #A4836F;
		width: 110px;
    display: block;
    margin: 20px auto 0;
	}
}

.description {
	margin-top: 20px;
	text-align: center;
	color: #423635;
}

.precisionTextContainer {
	overflow: hidden;
	padding-top: 250px;
}

.socialFootprint {
	text-align: center;
	margin-top: 20px;
}

.linkedinIcon {
	width: 40px;
}


@media only screen and (max-width: 1199px) and (min-width: 901px){
	.metricsItem{
		max-width: 300px;
		background-size: 300px 240px;
		min-height: 250px;
		padding: 0px 75px;
	}
	.metricsText{
		max-width: 350px;
		margin: 0 0 30px;
	}
}

@media screen and (max-width: 900px) {
	.commonContainer{
		padding: 0;
	}
	.aboutLPO{
		padding: 0 26px;
		margin-bottom: 200px;
	}
	
	.lpoTitle{
		font-size: clamp(3.5rem, 6.5vw, 6.5rem);
	}
	.plusIcon{
		font-size: clamp(6.5rem, 12.5vw, 12.5rem);
		margin: 40px 0;
	}
	.btnGroup{
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.newEraSection{
		padding: 120% 10px 0;
		background-size: 350%, 110%, 125%;
		margin-bottom: 100px;
	}

	.metricsContentContainer{
		margin: 0 -10px;
	}
	.metricsItem{
		background-position: top center;
		background-size: 300px;
		min-height: 250px;
	}
	.metricsTitle{
		font-size: 20px;
		color: #a4836f;
		margin-bottom: 72px;
		width: 230px;
	}
	.metricsText{
		margin: 0 0 50px;
		width: 100%;
		display: flex;
		justify-content: center;
		
	}
	.metricsText span{
		display: block;
		max-width: 300px;
	}
	.precisionTextContainer{
		padding-top: 100px;
	}
	.aboutFounder{
		padding-bottom: 60px;
	}
	.founderLaptopImage{
		width: 100%;
		padding: 0 16px;
		position: relative;
		transform: translate(-50%, -15%);
	}
	.description{
		padding: 0 16px;
	}
}
