.masterHead {
  background: url("../assets/images/header-section-bg.png") no-repeat top left;
	background-size: cover;
	padding-top: 350px;
}

.thinkOnUs {
	font-family: Antonio, sans-serif;
	font-size: 50px;
	color: #a4836f;
	letter-spacing: -1px;
	margin: 0 0 0 50px;
}

.lpoTitle {
	font-size: 100px;
	font-family: Antonio, sans-serif;
	color: #fffbf7;
	letter-spacing: -1px;
	line-height: 1.15;
	margin: 0 0 0 50px;
}

.lpoSubtitle {
	font-family: Poppins, sans-serif;
	font-size: 22px;
	color: #fff8f2;
	font-style: italic;
	padding-top: 290px;
}

.handleDetail {
	padding-top: 190px;
}
