.masterHead {
  background: url("../assets/images/master-head-bg.png") no-repeat top left;
	background-size: cover;
	padding-top: 500px;
}

.commonContainer {
	padding: 0 50px;
}

.thinkOnUs {
	font-family: Antonio, sans-serif;
	font-size: 50px;
	color: #a4836f;
	letter-spacing: -1px;
	margin: 0;
}

.lpoTitle {
	font-size: 100px;
	font-family: Antonio, sans-serif;
	color: #fffbf7;
	letter-spacing: -1px;
	line-height: 1.15;
	margin: 0;
}

.lpoSubtitle {
	font-family: Poppins, sans-serif;
	font-size: 20px;
	color: #fff8f2;
	font-style: italic;
	padding-top: 300px;
}

.lpoTitleSmall {
	font-size: 80px;
}

.handleDetail {
	padding: 250px 0 220px;
	position: relative;
}

.ladyImage {
	position: relative;
	z-index: 2;
	width: 100%;
	height: auto;
}

.detailCard {
	background: #fff;
	padding: 48px;
	position: absolute;
	bottom: 110px;
	z-index: 1;
	left: -108px;
	width: 110%;
}

.detailHeading {
	font-family: Antonio, sans-serif;
  font-size: 32px;
	color: #a4836f;
	line-height: 1.15;
	margin-top: 0;
}

.detail {
	width: 60%;
	font-family: Poppins, sans-serif;
  font-size: 14px;
	color: #070c1e;
	font-weight: 500;
}

.detailLink {
	font-family: Poppins, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;
	color: #070c1e;
	margin-top: 24px;
}

.arrowIcon {
	margin-left: 8px;
	width: 100px;
}

.serviceSection {
	padding-bottom: 80px;
	position: relative;
}

.precisionSection {
	position: relative;
}

.sectionBackground {
	width: 100%;
	height: 300px;
	position: absolute;
	left: 0;
	top: -500px;

	img {
		width: 100%;
	}
}

.serviceIcon img {
	width: 60px;
}

.serviceText {
	font-family: Poppins, sans-serif;
	font-size: 16px;
	color: #c9b9b0;
	margin-top: 40px;
}

.serviceLink {
	margin-top: 40px;
}

.serviceButton {
	padding: 20px 32px;
	border: solid 2px rgba(201, 185, 176, 0.3);
	font-family: Poppins, sans-serif;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	color: #c9b9b0;
	text-decoration: none;
	border-radius: 6px;
	margin-right: 20px;
	transition: all ease-in-out .3s;
	display: inline-block;

	&:hover {
		border-color: rgba(201, 185, 176, 1);
		color: #fff;
	}
}

.serviceBox {
	font-family: Poppins;
	font-size: 16px;
	color: #c9b9b0;
	border-right: 1px solid rgba(201, 185, 176, 0.3);
	border-bottom: 1px solid rgba(201, 185, 176, 0.3);

	&:nth-child(1n) {
		padding: 40px 40px 40px 0;
	}

	&:nth-child(2n) {
		border-right: 0;
		padding: 40px 0 40px 40px;
	}
	&:nth-child(3),
	&:nth-child(4) {
		border-bottom: 0;
	}
}

.serviceHeading {
	font-family: Antonio;
	font-size: 24px;
	color: #fff8f2;
	margin: 20px 0;
}

/* Legal Support Section */
.legalSupportSection {
	padding-top: 300px;
	margin-top: 40px;
	background-image: url("../assets/images/legal-support-bg.jpg");
	background-position: top center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.legalSupportItem {
	text-align: center;
}

.legalSupportHeading {
	font-size: 80px;
  font-family: Antonio, sans-serif;
	line-height: 1.2;
	color: #fff8f2;
	margin-bottom: 40px;
}

.headingSection1 {
	color: #a4836f;
}

.legalSupportText {
	color: #c9b9b0;
	font-size: 16px;
	font-family: Poppins, sans-serif;
	margin-bottom: 40px;
}

.stampIcon {
	width: 100px;
}

.legalSupportLink {
	font-family: Poppins, sans-serif;
	font-size: 16px;
	color: #f7f5f3;
	margin-top: 40px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 40px;
}

/* Service we offer section */
.serviceWeOfferContainer {
	margin-bottom: 40px;
}

/* USP Section */
.uspSection {
	margin-bottom: 40px;
}

.letsWinTogetherSection {
	padding: 60px 0;
	background: #433636;
}

.infoSmallSection {
	font-family: Antonio, sans-serif;
	font-size: 16px;
	color: #dec4a5;
}

.infoBigSection {
	font-family: Antonio, sans-serif;
	line-height: 1.2;
}

.infoHeading1 {
	font-size: 40px;
	color: #dec4a5;
}

.infoHeading2 {
	font-size: 60px;
	color: #f7f5f3;
}

.infoTextSection {
	font-size: 26px;
	font-family: Poppins, sans-serif;
	color: #dec4a5;
	padding-bottom: 16px;
	border-bottom: 5px solid #dec4a5;
}

.winButton {
	text-align: right;

	img {
		width: 60px;
	}
}
