.masterHead {
	padding-top: 600px;
	background: url("../assets/images/service-masterhead-bg.jpg") no-repeat top center;
	background-size: cover;
}

.silhoutContainer {
	margin-bottom: 0;
	overflow: hidden;
}

.serviceAccordianSection {
	background: url("../assets/images/service-accordion-bg.jpg") no-repeat bottom center;
	background-size: contain;
	margin-top: 120px;
}

.commonContainer {
	padding: 0 50px;
}

.breadcrumb {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	color: #a4836f;
	font-family: Poppins, sans-serif;
	font-size: 16px;
	list-style: none;
	display: block;

	li {
		&::after {
			content: "/";
			margin: 0 8px;
		}
	}
}

.lpoTitle {
	font-size: 100px;
}

.plusIcon {
	font-family: Poppins, sans-serif;
	font-size: 200px;
	color: #a4836f;
	margin: 60px 0 12px;
	line-height: 0.55;
}

.aboutLPO {
	padding: 0 50px;
	margin-bottom: 180px;
}

.aboutHeading {
	font-family: Poppins, sans-serif;
	font-size: 20px;
	color: #fff8f2;
	margin-bottom: 20px;
}

.aboutText {
	color: #c9b9b0;
	margin: 28px 0;
}

.bookButton {
	display: inline-flex;
	justify-content: space-between;

	img {
		margin-left: 16px;
		width: 30px;
	}
}

.typeOfServiceBoxContainer {
	margin: 60px 0 120px;
}

.accordionContainer {
	padding: 20px;
	border: 1px solid #564847;
	background: #070C1E;
	margin: 60px 0 100px;
	border-radius: 4px;
}

.expertiseSection {
	position: relative;
	background: url("../assets/images/other-key-area-bg.jpg") no-repeat top center;
	background-size: cover;
	padding-bottom: 100px;
}

.expertiseStamp {
	position: absolute;
	top: 0;
	left: calc(50% - 115px);
	width: 230px;
	transform: translateY(-50%);
	
	img {
		width: 100%;
	}
}

.expertiseHeading {
	margin-top: 300px;
	margin-bottom: 100px;
}

.formSection {
	background-color: #DEC4A5;
	padding: 100px 0 200px;
}

.formHeading {
	font-family: Antonio, sans-serif;
	color: #070c1e;
	font-size: 50px;
	line-height: 1.3;
}

.formText {
	color: #070c1e;
	margin-top: 20px;
}

.submitWrapper {
	text-align: right;
}

.formSubmitButton {
	width: 80px;
	cursor: pointer;
}

.carouselSection {
	position: relative;
	height: 550px;
}

@media screen and (max-width: 900px) {
	.commonContainer{
		padding: 0;
	}
	.lpoTitle{
		font-size: clamp(3.5rem, 6.5vw, 6.5rem);
	}
	.plusIcon {
		font-size: clamp(6.5rem, 12.5vw, 12.5rem);
		margin: 40px 0;
	}
	.aboutLPO{
		margin-bottom: 100px;
		padding: 0 26px;
	}
	.typeOfServiceBoxContainer {
		margin: 30px 0 100px;
	}
	.silhoutContainer{
		padding-bottom: 370px;
	}
	.serviceAccordianSection{
		padding: 0 10px;
		margin-top: 100px;
		background: #dec4a5;
	}
	.serviceHeading{
		margin-top: -300px;
	}
	
	.accordionContainer{
		padding: 15px;
	}
	.submitWrapper{
		text-align: center;
	}
	.formSection{
		padding: 0px 10px 200px;
		margin-top: -1px;
	}
	.formHeading{
		font-size: clamp(2rem, 3.2vw, 3.2rem);
	}
	.formPensilIcon{
		max-width: 100px;
	}
	.expertiseHeading{
		margin: 170px 0 20px;
	}

	.expertiseSection{
		padding: 0 26px 100px;
	}
}

@media screen and (max-width: 600px) {
	.silhoutContainer {
		padding-bottom: 330px;
	}
}
