.mainContainer {
	background: url("../assets/images/service-page-header-bg.jpg") no-repeat top center;
	background-size: contain;
}

.masterHead {
	padding-top: 600px;
}

.silhoutContainer {
	margin-bottom: 140px;
	overflow: hidden;
	height: 80vh;
}

.commonContainer {
	padding: 0 50px;
}

.breadcrumb {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	color: #a4836f;
	font-family: Poppins, sans-serif;
	font-size: 16px;
	list-style: none;
	display: block;

	li {
		&::after {
			content: "/";
			margin: 0 8px;
		}
	}
}

.lpoTitle {
	font-size: 100px;
}

.plusIcon {
	font-family: Poppins, sans-serif;
	font-size: 200px;
	color: #a4836f;
	margin: 12px 0 12px;
	line-height: 0.55;
}

.aboutLPO {
	padding: 0 50px;
	margin-bottom: 180px;
	margin-top: 40px;
}

.aboutHeading {
	font-family: Poppins, sans-serif;
	font-size: 20px;
	color: #fff8f2;
	margin-bottom: 20px;
}

.aboutText {
	color: #c9b9b0;
	margin: 28px 0;
}

.bookButton {
	display: inline-flex;
	justify-content: space-between;

	img {
		margin-left: 16px;
		width: 30px;
	}
}

.typeOfServiceBoxContainer {
	margin: 60px 0 120px;
}

.formSection {
	background-color: #DEC4A5;
	padding: 100px 0;
}

.serviceCard {
	width: 30rem;
}

.serviceWeOfferContainer {
	margin-bottom: 140px;
}

.serviceHeadingContainer {
	margin-bottom: 40px;
}

@media screen and (max-width: 900px) {
	.mainContainer {
		background: none;
		background-size: contain;
	}
	
	.masterHead {
		background: url("../assets/images/service-page-header-bg.jpg") no-repeat top center;
		background-size: cover;
		background-position: bottom 0 left 55%;
	}
	.commonContainer{
		padding: 0;
	}
	.lpoTitle{
		font-size: clamp(3.5rem, 6.5vw, 6.5rem);
	}
	.plusIcon {
		font-size: clamp(6.5rem, 12.5vw, 12.5rem);
		margin: 40px 0;
	}
	.aboutLPO{
		margin-bottom: 100px;
		padding: 0 26px;
	}
	.typeOfServiceBoxContainer {
		margin: 30px 0 100px;
	}

	.formSection{
		padding: 40px 10px;
		margin-top: -1px;
	}
}
