.serviceInfoSection {
	background-color: #dec4a5;
	padding-bottom: 150px;
}

.usFlagBox {
	text-align: center;

	img {
		width: 100%;
		margin-top: -5%;
	}
}

.carouselSection {
	padding-top: 32px;
	position: relative;
	height: 550px;
}
