.container {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
	background: #fff;
}

.noscroll .container {
  overflow-y: hidden;
}

/* Slider styles */
.slider {
  position: relative;
  z-index: 200;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 7rem;
  text-align: center;
  user-select: none;
	background: #fff;;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

.slide--current {
  position: relative;
  z-index: 100;
  visibility: visible;
  opacity: 1;
}

.slide__mover {
  position: relative;
  z-index: 100;
}

.slide__title {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 0 auto;
  padding-top: 1rem;
}

.slide__title span {
  font-size: 0.875rem;
  font-weight: bold;
  display: block;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #35303d;
}

.slider__nav {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
}

.button {
  font-size: 1.25rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 1.5rem;
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #5c5edc;
  transition: color 0.3s;
}

.button:hover {
  color: white;
}

.button:focus {
  outline: none;
}

.text-hidden {
  position: absolute;
  top: 200%;
}

.button--close {
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  margin: 0;
  opacity: 0;
  color: #50505a;
  transition: opacity 0.3s;
}

.content--open .button--close {
  opacity: 1;
}

/* Zoomer styles */
.zoomer {
  position: relative;
  height: 360px;
  transition: all 0.5s cubic-bezier(0.7,0,0.3,1);
  transform-origin: top left;
}

.zoomer.zoomer--notrans {
  transition: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoomer__image {
  display: block;
  margin: 0;
  transition: opacity 0.3s;
  transition-delay: 0.3s;
}

.zoomer--active .zoomer__image {
  opacity: 0;
  transition-delay: 0s;
}

.zoomer__area,
.preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoomer__area:focus {
  outline: none;
}

/* Apple Watch */
.zoomer__area--size-1 {
  width: 6rem;
  height: 118px;
}

/* iPhone */
.zoomer__area--size-2 {
  width: 7rem;
  height: 198px;
}

/* MacBook */
.zoomer__area--size-3 {
  width: 315px;
  height: 200px;
}

/* iPad */
.zoomer__area--size-4 {
  width: 150px;
  height: 200px;
}

/* iMac */
.zoomer__area--size-5 {
  width: 315px;
  height: 189px;
}

.preview {
  overflow: hidden;
  background-color: #18191b;
}

.preview img {
  display: block;
  transform: translateX(0);
  transition: transform 0.6s cubic-bezier(0.2,1,0.3,1);
  transition-delay: 0.3s;
}

.preview.rounded img {
  border-radius: 15px;
}

.zoomer--active .preview img {
  transform: translateX(100%);
  transition: transform 0.3s;
}

.rounded {
  border-radius: 15px;
}

.rounded-right {
  border-radius: 0 15px 15px 0;
}

/* Content styles */
.content {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -100%;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  background: #18191b;
  transition: all 0s;
  transition-delay: 0.3s;
}

.content--open {
  left: 0;
  transition: none;
}

.content__item {
  position: absolute;
  top: 0;
  display: flex;
  overflow: hidden;
  height: 0;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  pointer-events: none;
  opacity: 0;
  color: white;
  align-items: center;
  transition: opacity 0s;
  transition-delay: 0.3s;
}

.content__item--current {
  pointer-events: auto;
  opacity: 1;
  transition: none;
}

.content__item--reset {
  height: auto;
}

.content h2 {
  font-size: 3.25rem;
  font-weight: normal;
  margin: 0;
}

.content h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.25rem 0 0.5rem;
  color: #685884;
}

.content p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.content__item-img {
  display: block;
  max-width: 40vw;
  max-height: 80vh;
  transform: translateX(-120%);
  flex: none;
  transition: transform 0.4s cubic-bezier(0.7,1,0.8,1);
}

.content__item--current .content__item-img {
  transform: translateX(-10px);
  transition: transform 1s cubic-bezier(0.2,1,0.3,1);
}

.content__item-inner {
  padding: 0 10vw;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s cubic-bezier(0.7,1,0.8,1);
}

.content__item--current .content__item-inner {
  opacity: 1;
  transform: translateY(0);
  transition: all 1.7s cubic-bezier(0.2,1,0.3,1);
}

.icon {
  display: inline-block;
  margin-right: 0.25rem;
  vertical-align: middle;
}

.icon--zoom {
  width: 20px;
  height: 20px;
}

.icon--arrow-right, 
.icon--arrow-left {
  width: 20px;
  height: 10px;
}

.icon--circle-cross {
  width: 20px;
  height: 20px;
}

.text-zoom-link {
  color: #5c5edc;
}

/* Responsive adjustments */
@media screen and (max-width: 50em) {
  .content__item {
    display: block;
  }
  
  .content__item-img {
    max-width: calc(100% - 80px);
    max-height: 70vh;
  }
  
  .content h2 {
    font-size: 2.5rem;
  }
  
  .content__item-inner {
    font-size: 82%;
    padding: 4rem 3rem;
  }
}
