.navBar {
  display: flex;
  justify-content: center;
	font-family: Antonio, sans-serif;
	text-transform: uppercase;
	font-weight: 500;
  
  a {
		font-size: clamp(20px, 100%, 36px);
    margin: 0 20px;
    color: #fff8f2;
    text-decoration: none;
  }
}

.logoContainer {
	display: flex;
}

.logo {
	width: 160px;
	height: auto;
	cursor: pointer;
}

.phoneButton {
	border-radius: 50px;
	background: #dec4a5;
	color: #070c1e;
	padding: 16px 24px;
	transition: all 0.3s ease;
	text-decoration: none;
	display: flex;
	align-items: center;
	width: fit-content;
	font-size: 12px;
	font-weight: 600;
	justify-self: flex-end;

	svg {
		width: 20px;
    height: 20px;
    fill: #070c1e;
		margin-right: 8px;
		transition: fill 0.3s ease;
	}

	&:hover {
		color: #f7f5f3;
		background: #433636;

		svg {
			fill: #f7f5f3;
		}
	}
}

.headerLink {
	overflow: hidden;
  position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		left: 0;
	}

	&::before {
		background-color: #a4836f;
		height: 2px;
		bottom: 0;
		transform-origin: 100% 50%;
		transform: scaleX(0);
		transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
	}

	&::after {
		content: attr(data-replace);
		height: 100%;
		top: 0;
		transform-origin: 100% 50%;
		transform: translate3d(200%, 0, 0);
		transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
		color: #a4836f;
	}

	&:hover::before {
		transform-origin: 0% 50%;
		transform: scaleX(1);
	}

	&:hover::after {
		transform: translate3d(0, 0, 0);
	}

	span {
		display: inline-block;
		transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
	}
	
	&:hover span {
		transform: translate3d(-200%, 0, 0);
	}
}

.menuRoot {
	:global {
		.MuiBackdrop-root {
			backdrop-filter: none !important;
			background: transparent !important;
		}
	}
}

.menuPopover {
	background-color: rgba(7, 12, 30, 0.8) !important;
	backdrop-filter: blur(9.5px);
	margin-top: 36px;
	overflow-y: auto;
	padding: 20px 0;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;

	:global {
		.MuiList-root {
			padding-top: 20px !important;
			padding-bottom: 20px !important;
		}
	}
}

@media screen and (max-width: 900px) {
	.navBar,
	.address,
	.phone{
		display: none;
	}
}
