.primaryHeading {
	font-family: Antonio, sans-serif;
	font-size: 80px;
	color: #f7f5f3;
	letter-spacing: -1px;
	line-height: 1.2;
	margin: 0;
}

.secondaryHeading {
	font-family: Antonio, sans-serif;
	font-size: 50px;
	color: #a4836f;
	letter-spacing: -1px;
	margin: 0;
}
